certifi==2024.8.30 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==3.4.0 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows")
decorator==4.4.2 ; python_version >= "3.8" and python_version < "3.12"
exceptiongroup==1.2.2 ; python_version >= "3.8" and python_version < "3.11"
idna==3.10 ; python_version >= "3.8" and python_version < "3.12"
imageio-ffmpeg==0.5.1 ; python_version >= "3.8" and python_version < "3.12"
imageio==2.35.1 ; python_version >= "3.8" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "3.12"
moviepy==1.0.3 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.4 ; python_version < "3.12" and python_version >= "3.8"
opencv-python==4.10.0.84 ; python_version >= "3.8" and python_version < "3.12"
packaging==24.2 ; python_version >= "3.8" and python_version < "3.12"
pillow==10.4.0 ; python_version >= "3.8" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.8" and python_version < "3.12"
proglog==0.1.10 ; python_version >= "3.8" and python_version < "3.12"
pytesseract==0.3.13 ; python_version >= "3.8" and python_version < "3.12"
pytest==7.4.4 ; python_version >= "3.8" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.8" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.12"
setuptools==75.3.0 ; python_version >= "3.8" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.1.0 ; python_version >= "3.8" and python_version < "3.11"
tqdm==4.67.0 ; python_version >= "3.8" and python_version < "3.12"
urllib3==2.2.3 ; python_version >= "3.8" and python_version < "3.12"
